
.glyphicon {
	font-size: 45px !important;
    color:#ce3e3e;

}
.heading{

margin-top:10px;

}


.bs-component {
float: none !important;
	display: inline-block;
}

.minIcon {
	font-size: 20px !important;
    color:#ce3e3e;
	


}