
.glyphicon, .fa {

}

.minIcon {
	font-size: 20px !important;
    color:#ce3e3e;
	


}

.big {
	font-size: 45px !important;
    color:#ce3e3e;
	



}

.heading{

margin-top:2em;

}

.row-center{

margin-left:auto;
margin-right:auto;

}

